[Desktop Entry]
Categories={{categories}}
Comment={{comment}}
Exec={{exec}}
Icon={{icon}}
Name=Bloomery
StartupWMClass={{exec}}
Terminal=false
Type=Application
